/* Header */

#logo {
  font-family: "Play", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
}

header {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 4rem;
}

a {
  color: black;
  list-style: none;
}

@media screen and (max-width: 700px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
    margin-left: 0;
  }

  ul {
    margin-top: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

/* Main */

.homepage-image {
  width: 50%;
}

/* Products page */

#top-seller-black {
  width: 110%;
}

#top-seller-white {
  width: 80%;
}

.products-image {
  width: 80%;
}

@media screen and (min-width: 700px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
