/* Header */

#logo {
  font-family: "Play", sans-serif;
  color: dodgerblue;
  font-style: italic;
  font-weight: bold;
  font-size: 80px;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
  font-size: 20px;
}

#logo {
  margin-top: 60px;
  margin-left: 60px;
}

header {
  display: flex;
  align-items: center;
  background-color: lightgrey;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 20px;
}

li {
  margin-left: 6rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: dodgerblue;
}

@media screen and (max-width: 1145px) {
  header,
  ul,
  #logo {
    flex-direction: column;
    align-items: start;
    margin-left: 0;
  }

  ul {
    margin-top: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

/* Main */

#homepage-image {
  width: 30%;
}

h1 {
  font-style: italic;
  font-size: 28px;
  margin-left: 20px;
}

/* Products page */

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

figcaption {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
}

figcaption {
  text-decoration: underline;
}

.products-image {
  width: 70%;
}

@media screen and (max-width: 1145px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .products-container {
    grid-template-columns: 1fr;
  }
}
